.calculation{
    text-align: center;
    height: 600px;
    width: 100%;
}
img{
    height: 300px;
    width: 300px;
    opacity: 0.7;
}
.link{
    text-align: right;
}
header{
    background-color: green;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
}
header div{
    text-align: right;
    
}
a{
    padding: 5px;
    margin: 5px 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight:lighter;

}
.active{
        font-weight: 900;
       
}
#find{
    height: 30px;
    width: 150px;
    font-size: 25px;
    background-color: green;
    border-radius: 5px;
    border: 1px solid grey;
    cursor: pointer;
}
label{
    font-size: 40px;
    font-weight: 800;
}
input{
    height: 25px;
width: 200px;
border-radius: 3px;
border: 1px solid grey;
}